@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject NavigationManager navigation
<PageTitle>3.Admin</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>